<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Play a Game !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
  </head>
  <body>
    <div class="header-wrapper">
      <h1 class="header">県大付属中版 アキネーター</h1>
    </div>

    <div class="main-wrapper">
      <div class="bubble">
        <svg width="401.09" height="223.68">
          <polygon
            points="30,0 30,20 29,25 27,30 22,37 15,45 0,60 30,60 30,223.688 401.094,223.688 401.094,0"
          ></polygon>
        </svg>
        <p class="result">{{ result_sentence }}</p>
      </div>
      <div class="images">
        <img src="../static/images/gennbaneko0.png" width="20%" height="20%" />
      </div>
      <div class="result-button">
        <a class="btn solid" href="/result">はい</a>
        <a class="btn solid" href="/akinator">いいえ</a>
      </div>
    </div>

    <div class="fotter-wrapper">
      <footer class="footer">
        <div class="music">
          <audio id="audio" src="../static/music/sample.mp3" loop controls autoplay >
            あなたのブラウザーは<code>audio</code>
            要素をサポートしていません。
          </audio>
        </div>
      </footer>
    </div>
  </body>
</html>

<style>
  main {
    text-align: center;
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 5em;
  }
  .result {
    margin: 2em;
    padding: 2em;
    font-size: 150%;
  }
  .result-button {
    position: relative;
    text-align: center;
    bottom: 0;
  }
  .bubble p {
    top: 20px;
    left: 64%;
  }
  .bubble svg {
    left: 60%;
  }
</style>

<script></script>
