<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Play a Game !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css" />
  </head>
  <body>
    <div class="header-wrapper">
      <p class="heading">付属中版 アキネーター</p>
    </div>
    <div class="main-wrapper">
      <div class="main">
        <div class="images">
          <img src="static/images/teacher1.png" />
        </div>
        <div class="buttons">
          <a class="btn solid" href="/akinator">スタート</a>
        </div>
      </div>
    </div>

    <div class="fotter-wrapper">
      <footer class="footer">
        <div class="music">
          <audio id="audio" src="static/music/sample.mp3" loop controls autoplay >
            あなたのブラウザーは<code>audio</code> 要素をサポートしていません。
          </audio>
        </div>
      </footer>
    </div>
  </body>
</html>

<style>
  body {
    background-image: url("static/images/school_image.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 4em;
    text-align: center;
  }
  .images {
    text-align: center;
  }
  .images img {
    width: 210px;
    height: 610px;
  }
  .buttons {
    text-align: center;
  }
</style>
