*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 120%;
}
.header {
  padding-left: 5%;
  color: #ffffff;
}
.solid {
  border: 2px solid #bf9000;
  display: inline-block;
}
.btn {
  font-size: 2rem;
  font-weight: 700;
  width: 15rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  background-color: #ffd966;
  color: #000000;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 0.1em;
  line-height: 1.5;
  user-select: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.3s;
}
.btn:hover {
  background-color: #ffbf00;
  color: #000000;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.music {
  text-align: right;
}
.audio-button {
  width: 16px;
  height: 16px;
  background: url("../images/icon_pause.png");
}
.play .audio-button {
  background-image: url("../images/icon_play.png");
}
